/* UserCard.module.css */
.card {
   background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.5rem;
    margin: 0.5rem;
}

.userInfoFlex{
    display: flex;
    gap: 1rem;
}

.userImage {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.userName {
    color: #000000;
    font-size: 1rem;   
}
.userP{
    color: #000000;
    font-size: 0.8rem; 
}
.goldLine{
    border-bottom: 1px solid goldenrod;
    margin: 1rem ;
}

.employeeLink {
    padding: 8px 16px;
    background-color: #10b981;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  .employeeLink:hover {
    background-color: #26d198;
  }

  .employeeLink:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(96, 161, 170, 0.5);
  }

 .appointmentList {
    margin-top: 0.5rem;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;

} 

.appointmentItem {
    list-style-type: none;
    background-color: #f5f7ed;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    width: 350px;
    height: 100px;
    overflow:auto;
    color: rgb(0, 0, 0);
}

.goldLine1{
    border-bottom: 1px solid goldenrod;
    margin: 0.2rem ;
}
.dateFlex{
    display: flex;
    gap: 1rem;
}
.date{
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.795);
}

.deleteButton {
    padding: 0.4rem;
    background-color: #e53935;
    color: white;
    border: none;
    border-radius: 1rem; 
    cursor: pointer;
    margin-top: 0.2rem;
    font-size: 0.6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.deleteButton:hover {
    background-color: #b71c1c; 
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.deleteButton:active {
    background-color: #8e0000;
    transform: translateY(0); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


