/* PAGE01 ********************************************/

.containerA {
    display: flex;
    flex-direction: row;
    height: 800px;
    width: 100vw;
    overflow: hidden;
    background-color: black; 
  }

  .leftPaneA  {
    width: 50vw;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    transform: scale(1);
    transition: transform 0.5s ease;
    position: relative;

  }

  .rightPaneA{
    width: 50vw;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    background-color: black;
    transform: scale(1);
    transition: transform 0.5s ease;
  }

  .leftPaneA:hover, .leftPaneA:active { 
    transform: scale(1.05);
  }
  
  .leftPaneA:hover, .leftPaneA:active { 
    transform: scale(1.05);
  }

  .rightPaneA {
    transition: transform 0.5s ease;
  }
  
  .rightPaneA:hover, .rightPaneA:active {
    transform: scale(1.05);
  }

  .imageA {
    margin-top: 2rem;
    transition: transform 0.5s ease;
  }
  
  .imageA:hover, .imageA:active {
    transform: scale(1.1);
  }
  
  .portfolioTextA {
    margin-top: 1rem;
    color: var(--teal-800);
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.3s;
    position: absolute;
    top: 25rem;
  }

  
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  

  
  


  

  /* PAGE02 ****************************************/

  .containerB {
    color: var(--teal-800);
    background-image: url('/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    overflow:hidden; 
  }
  .containerBHeader{
    display: flex;
    margin-left: 1rem;
  }
  .headerB {
    font-size: 4rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--teal-950);
  }
  .headerBUnderline{
    border-bottom: 2px solid;
  }
  
  .itemsB {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .itemB {
    width: 16rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; 
    animation: fadeIn 0.5s ease-out, scaleIn 0.5s ease-out;
  }
  
  .itemB:hover, .itemB:focus {
    transform: scale(1.10);  /* Slight scale up on hover/focus */
   
  }
  
  .itemB:active {
    transform: scale(0.95);  /* Mimic button press effect on active/click */
    
  }
  
  .numB {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    animation-delay: 0.3s; /* Delayed animation for dramatic effect */
  }
  
  .textB {
    color: var(--teal-950);
    text-align: center;
  }

    /* Keyframes for animations */
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
      }
      
      @keyframes scaleIn {
        from {
          transform: scale(0.95);
          opacity: 0;
        }
        to {
          transform: scale(1);
          opacity: 1;
        }
      }

  /* PAGE03 */

  .containerC {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: black;
  }
  
  .leftPaneC, .rightPaneC {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .leftPaneC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .textCA, .textCB {
  
    font-size: 2rem; 
    margin: 1rem;
    text-align: center;
    opacity: 0; 
    animation-duration: 1s;
    animation-fill-mode: forwards; 
  }
  
  .textCA {
    font-size: 2rem; 
    font-weight: lighter;
    color: var(--text-color);
  }
  
  .textCB {
    font-size: 2.5rem;
    color: var(--teal-800);
    font-weight: bolder;
  }
  
  .textAnimationCA {
    animation-name: fadeInUp;
  }
  
  .textAnimationCB {
    animation-name: fadeInUp;
    animation-delay: 0.5s; 
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .textA:hover, .textB:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: text-shadow 0.3s ease-in-out;
  }
  
  .rightPaneC {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .videoC {
    width: 100%;
    height: 100vh;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .leftPaneC::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    z-index: -1;
  }
  

   /* PAGE04  */

  
  .containerD {
    background-color: gray;
    width: 100vw;
    height: 50vh; 
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .leftPaneD, .rightPaneD{
    width: 50%;
    display: flex;

  }
  .leftPaneD{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
  }

  .rightPaneD{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .textNumDA{
    color: var(--teal-800);
    font-weight: bolder;
    font-size: 2rem;
  }
  .textNumDB{
    font-weight:lighter;
    font-size: 4rem;
  }

  .textNumDC{
    position: absolute;
    top: 5rem;
    font-size: 4rem;
    color: var(--teal-800);
  }
  

   /* PAGE05  */

  .containerE{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
   
  }

  .subContainerE {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 1rem; 
    padding: 2rem;
    
    
    background-color: var(--teal-950); 
    transition: transform 0.3s; 
  }

  .subContainerE:hover {
    transform: scale(1.02);
  }


  
  .leftPaneE, .rightPaneE {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  
  .rightLeftImagesPageE {
    max-width: 300px;
    height: auto;
    object-fit:cover;
    border-radius: 8px; 
    transition: transform 0.3s; 
  }
  
  .rightLeftImagesPageE:hover {
    transform: scale(1.05); 
  }

.textE {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem;
  color: var(--text-color);
  line-height: 1.5; 
  transition: color 0.3s; 
}

.textE:hover {
    color: var(--hover-text-color); 
  }


  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiperSlide {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }



  
  










/* MEDIA ***********************************************/


  @media (max-width: 800px) {

    /* PAGE01 */
    .leftPaneA, .rightPaneA {
        
        transition: transform 0.5s ease; 
    }
    .leftPaneA, .rightPaneA {
        transform: scale(1);
    }
    .portfolioTextA {
        top: 28rem;
      font-size: 2rem; 
      margin-top: 0.5rem; 
    }
    .imageA {
      transform: scale(1.05); 
    }
    /* PAGE05 */
    .swiperSlide {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .rightLeftImagesPageE {
        width: auto;
        max-width: 100%;
        height: auto;
      }
  }

 
@media (min-width: 768px) {
    /* PAGE05 */
    .subContainerE {
      flex-direction: row;
      height: 50vh;
    }
  
    .leftPaneE, .rightPaneE {
      width: 50%;
    }
  }

  @media (max-width: 600px) {
    /* PAGE01 */
    .containerA {
      flex-direction: column;
      height: 1000px; 
    }
  
    .leftPaneA, .rightPaneA {
      flex: none;
      width: 100%; 
      height: 500px; 
    }
  
    .portfolioTextA {
      font-size: 1rem; 
    }

    /* PAGE02 */
    .containerBHeader{
        justify-content: center;
    }
    
    .itemB {
      width: 10rem;
      padding: 1rem; 
      animation: scaleIn 0.5s ease-out; 
    }


    /* PAGE03 */
    .containerC {
        flex-direction: column;
      }
      
      .leftPaneC  {
        width: 100%;
        height: 20vh;
      }
      .rightPaneC{
        width: 100%;
        height: 80vh;
      }
    .textCA,.textCB{
        font-size: 1rem;
    }
      .videoC {
        height: 100%;
        width: 100%;
      }

      /* PAGE04 */


      .rightPaneD{
        width: 100vw;
      }
      .leftPaneD{
        display:none;
      }

      /* PAGE05 */

   
   .subContainerE {
    flex-direction: column;
    height: auto;
  }

  .leftPaneE, .rightPaneE {
    width: 100%;
  }
  }
  
 
  
  
  
  