.container {
    
    background-color: var(--olive-silvery-green);
  }
  
  .header {
    text-align: center;
    margin-bottom: 2rem;
  }

  .headerH {
    font-size: 6rem;
    color: var(--teal-950);
    padding: 2rem;
  }
  
  .headerP {
    font-size: 1.5rem;
    color: var(--teal-950);
    padding: 1rem;
    text-align: center;
    
  }
  

  
  .content {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20rem 0 20rem;
    background-color: var(--light-gray);
    border: 1px solid var(--custom-gray);
  
  }
  
  .video {
    width: 20%;
   
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  }
  

  @media (max-width: 1350px) {
    .content{
        margin: 0 10rem 0 10rem;
    }
    .headerP {
        font-size: 1.5rem;
        color: var(--teal-950);
        padding: 1rem;
        text-align: center;
        
      }
      .video {
        width: 35%;
    
      }

}

@media (max-width: 1350px) {
    .content{
        margin: 0 5rem 0 5rem;
    }
   

}

@media (max-width: 900px) {
    .headerH{
        font-size: 2rem;
    }
    .headerP {
        font-size: 1.2rem;
        color: var(--teal-950);
        padding: 1rem;
        text-align: center;
        
      }
      .video {
        width: 50%;
    
      }

}

@media (max-width: 700px) {
    .content{
        margin: 0 2rem 0 2rem;
    }
    .headerH{
        font-size: 2rem;
    }
    .headerP {
        font-size: 0.8rem;
        color: var(--teal-950);
        padding: 1rem;
        text-align: center;
        
      }
     

}

@media (max-width: 700px) {
    .container{
        margin: 0;
    }
    .content{
        margin:0;
    }
}