.relative {
    position: relative;
    width: 100%;
  }
  
  .video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .absolute {
    position: absolute;
    inset: 0;
  }
  
  .gradient {
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #000000, transparent);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .gradientA {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  } 
  
  .title {
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    opacity: 0.75;
    text-align: center;
  }
  
  .green {
    background-clip: text;
    color: var(--custom-green); 
  }
  
  .subtitle {
    font-size: 0.75rem;
    color: #ffffff;
    opacity: 0.75;
    text-align: center;
}
  
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  
  .button {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    background-color: var(--custom-green);
    color: #ffffff;
    opacity: 0.75;
    font-weight: bold;
    border-radius: 9999px;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
  }
  
  .flexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 2.5rem; 
    justify-content: center;  
  }

  .flexContainer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2.5rem;   
  }
  
  .mainTitle, .subTitle {
    font-size: 2rem; 
    margin-bottom: 2rem;
}

.white, .subTitle, .paragraph {
    color: #ffffff;
    opacity: 0.75;
}
  
  .paragraph {
    width: 70%; 
    margin-left: 1rem;
  }
  
  .logo {
    object-fit: cover;
    border-radius: 50%;
  }
  


/* max-width: 599px */
@media (max-width: 599px) {
    .gradientA {
        padding: 1rem; 
    }

    .title {
      display: none; 
    }

    .subtitle {
      display: none; 
    }
    .gradient {
      justify-content: center;
      align-items: flex-end;
    }
    .gradientA {
      justify-content:flex-end;
      align-items: flex-end;
    }


}

/* min-width: 600px */
@media (min-width: 600px) and (max-width: 1199px) {
    .gradientA {
        padding: 1.5rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 1rem;
    }
}

/* max-width: 900px */
@media (max-width: 900px) {
  .gradientA {
      padding: 2rem; 
  }

  .title, .mainTitle, .subTitle {
      font-size: 2rem; 
  }

  .subtitle {
      font-size: 1rem; 
      margin-bottom: 1rem;
      margin-right: 1.5rem;
  }

  .button {
      padding: 1rem 2rem; 
  }

  .flexContainer {
      gap: 1rem; 
      flex-direction: column;
  }

  .mainTitle, .subTitle {
      align-self: center;
  }

  .paragraph {
      width: 66.66667%; 
  }
}

/* min-width: 1200px */
@media (min-width: 1200px) {
    .gradientA {
        padding: 2rem;
    }

    .title {
      
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.25rem;
    }

    .button {
        padding: 1rem 2rem;
    }
}