/* EmployeeAppointments.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--teal-950);
    color: var(--text-color);
    padding: 20px;
  }
  
  .calendar {
    margin-bottom: 20px;
  }
  
  .appointment {
    background-color: var(--teal-800);
    border: 1px solid var(--header-2);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
  }
  
  .appointment p {
    margin: 5px 0;
  }
  
  .appointment span {
    font-weight: bold;
    color: var(--light-gray);
  }
  
 
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .appointment {
      padding: 10px;
      max-width: 100%;
    }
  
    .react-calendar {
      max-width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .appointment p {
      font-size: 14px;
    }
  
    .appointment span {
      font-size: 14px;
    }
  }
  