/* app/stores/StoresPage.module.css */
.error {
    color: #ef4444;
}

.loading {
    color: #6b7280;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #15251c;
    height: 100vh;
    /* background: #2e4136; */
}

.header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #f3f4f6;
}
.span {
    color: #22c55e;
}

.storeList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0.5rem;
    padding: 1rem; /* Added padding */
    max-width: 800px; /* Max-width for better control on large screens */
    margin-left: auto; /* Centering the list */
    margin-right: auto; /* Centering the list */
}

.storeCard {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.5rem; /* Slightly increased padding */
    gap: 1.5rem; /* Slightly increased gap */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Added background-color to transition */
    box-shadow: 0 4px 12px rgba(0,0,0,0.12); /* Modified shadow for more depth */
    border-radius: 8px; /* Rounded corners */
    background-color: #15251c; /* Light background color */
}

.storeCard:hover {
    transform: translateY(-5px) scale(1.03); /* Subtle lift and scale effect */
    box-shadow: 0 8px 16px rgba(0,0,0,0.18); /* Deeper shadow on hover */
    background-color: #15251c; /* Change background color on hover */
}


.storeImage {
    position: relative;
    margin-top: 0.5rem;
    border-radius: 10%;
}

.storeDetails,
.storeContacts {
    color: #f3f4f6;
    font-size: 0.875rem;
}

.contactLink,
.emailLink {
    color: #059669;
    text-decoration: none;
}

.contactLink:hover,
.emailLink:hover {
    text-decoration: underline;
}

@media (min-width: 1024px) {
    .storeList {
        flex-direction: row;
    }
}
