.container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    border: 0.5px solid #e5e7eb;
    border-radius: 0.375rem;
    background-color: rgb(208, 212, 212);
  }
  .employeeContainer {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #5fa37c 0%, #1f2937 100%);
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 1.875rem;
    font-weight: 400; 
    margin: 1rem;
    color: rgb(7, 122, 36);
    align-self: center;
  }
  
  .section {
    width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  
  .employee {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-align: center; 
    height: 150px; 
    overflow: hidden; 
}

.employee.selected {
    background-color: rgb(34, 36, 34); 
    color: rgb(7, 122, 36); 
}

.employee:hover {
    background-color: rgb(151, 177, 151); 
}

.image {
    width: 100px;
    height: auto;
    max-height: 80%; 
    border-radius: 10%; 
}

  
  
  .text {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 2rem;
   

  }
  
  .linkDiv {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 4rem;
    padding: 0 2rem; 
  }
  
  /* Styling for link buttons */
  .linkButton {
    width: 100%; 
    padding: 1rem; 
    font-size: 1rem; 
    font-weight: 400;
    letter-spacing: 0.05em; 
    text-transform: uppercase; 
    transition: all 0.3s linear; 
    border-radius: 20px; 
    outline: 1px solid;
    background: linear-gradient(to right, #15251c 0%, #1f2937 100%); 
    overflow: hidden; 
    position: relative; 
    display: flex; 
    justify-content: center;
    align-items: center;
    color: #ffffff62; 
  }
  
  /* Pseudo-element for the button text */
  .linkButton::before {
    content: attr(data-text); 
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 1.6rem; 
    text-align: center; 
    color: #FFF; 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
    transform: translateY(0); 
    opacity: 1; 
  }
  
  /* Adjustments on hover */
  .linkButton:hover::before {
    opacity: 0; 
    transform: translateY(-20px); 
  }
  
  /* Pseudo-element for the hover background effect */
  .linkButton::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, transparent 0%, #21c782 40%, transparent 70%); 
    transform: translate(-50%, -50%) scale(0); 
    transition: all 0.6s ease-in-out; 
  }
  
  /* Background scale effect on hover */
  .linkButton:hover::after {
    transform: translate(-50%, -50%) scale(1); 
  }
  
  /* Change text color on hover */
  .linkButton:hover {
    color: #FFF; 
  }


  .alert {
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    
  }
  
  .alert-danger {
    
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  