.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--teal-950);
    overflow: hidden; /* Prevent scrolling of the main container */
  }
  
  .sectionA {
    width: 50%;
   
  }
  
  .sectionB {
    width: 50%;
    height: 100vh;
    overflow-y: auto;
  }
  
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    border: 1px solid var(--teal-800);
    padding: 1.25rem;
    transition: background-color 0.3s ease;
  }
  
  .content:hover {
    background-color: var(--teal-800);
  }
  
  .num {
    color: var(--text-color);
    opacity: 0.3;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
  }
  
  .header {
    color: var(--header-2);
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
  }
  
  .text {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .text:hover {
    color: var(--text-hover);
  }

  @media (max-width: 768px) {
 
  
    
    .sectionA {
        width: 35%;
       
      }
      
      .sectionB {
        width: 65%;
        
      }
  }