.navbar {
    background-color:var(--navbar-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
}
