
   /* PAGE04  */

  
   .containerD {
    width: 100vw;
    height: 50vh;
    background-color: var(--teal-800);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .leftPaneD{
    width: 35vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
  }

  .rightPaneD{
    width: 35vw;
    height: 50vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

   .middlePane{
    width: 35vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1rem;
    background-color: var(--teal-950)
  }
  
  .textNumDA{
    color: var(--teal-800);
    font-weight: bolder;
    font-size: 2rem;
  }
  .textNumDB{
    font-weight:lighter;
    font-size: 4rem;
  }

  .textNumDC{
    
    font-size: 4rem;
    color: var(--teal-800);
  }

  .paragraph {
    text-align: center;
    padding: 1rem;
    font-size: 1rem; 
    line-height: 1.6; 
    margin: 1rem auto; 
    color: var(--text-color); 
    max-width: 800px; 
  }
  .imageD{
width: auto;
height: 50vh;
  }
  

  @media (max-width: 950px) {
    /* PAGE04 */

.containerD{
    flex-direction: column-reverse;
   height: 150vh;  
}
.leftPaneD{
    width: 100vw;
}
.rightPaneD{
    width: 100vw;
}
.middlePane{width: 100vw;}

}


    

